* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    height: 100vh;
    width: auto;
    background-color: pink;
    border-color: darkblue;
    border-style: groove;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid-container {
    height: 950px;
    width: 950px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid-row {
    height: 100%;
    width: 100%;
    display: flex;
}

.grid-cell {
    height: 100%;
    width: 100%;
    opacity: 1;
    background-color: white;
    border-style: none;
}