* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    height: 100px;
    width: 100px;
    
}